[submodule "decimal_for_cpp"]
	path = external/decimal_for_cpp
	url = https://github.com/vpiotr/decimal_for_cpp
[submodule "external/boostlocale"]
	path = external/boostlocale
	url = http://github.com/salvoilmiosi/locale
[submodule "external/magic_enum"]
	path = external/magic_enum
	url = https://github.com/Neargye/magic_enum
