[submodule "decimal_for_cpp"]
	path = external/decimal_for_cpp
	url = https://github.com/vpiotr/decimal_for_cpp
[submodule "cxxopts"]
	path = external/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "json"]
	path = external/json
	url = https://github.com/taocpp/json
